*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 20px;
	font-family: sans-serif;
}
body{
	background-image: linear-gradient(to right,#ffb3ff,#99ddff,#ffb3ff,#99ddff,#ffb3ff);

}
.container{
	width: 500px;
	height: auto;
	background-color: #e6ffff ;
	margin: 20px 35%;
	padding: 20px;
	border-radius: 20px;
}
input{
	width: 100%;
	margin-bottom: 10px;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	margin-top: 10px;
}
.btn input{
	width: 40%;
	margin: 20px;
	border: none ;
	background-color: #a366ff;
	height: 50px;
	border-radius: 10px;
	color: white;
	font-weight: bolder;
	cursor: pointer;
}
.btn input:hover{
	transform: scale(0.9);
	box-shadow: 0px 0px 8px springgreen;
}
.view button{
	width: 50%;
	margin: 5px;
	border: none;
	margin-left: 115px;
	background-color: #a366ff;
	height: 50px;
	border-radius: 10px;
	color: white;
	font-weight: bolder;
	cursor: pointer;
}

.view button a{
	text-decoration: none;
	color: white;
}
.view button:hover{
	transform: scale(0.9);
	box-shadow: 0px 0px 8px springgreen;
}

h1{
	margin-bottom: 20px;
	color: #ff00aa;
	text-decoration: underline;
}
.student-data{
	margin-top: 50px;
	height:auto;
	width: 80%;
	background-color:#f2f2f2 ;
	border-radius: 10px;
	margin-left: 10%;
	margin-bottom:50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
table{
	border-radius: 5px;
	overflow: hidden;
}
th{
	background-color: #cc99ff;
	height: 30px;
	padding: 5px;
}
tr{
	padding: 20px;
	height: 30px;
	padding: 5px;
	align-content: center;
}
tr button{
	height: 30px;
	width: 90px;
	background-color:grey;
	outline: none;
	border: none;
	border-radius: 5px;
	margin: 5px;
	font-size: 15px;
    font-weight: bolder;
}
tr button:hover{
	
	background-color:  lightgrey;
	color: white;
	transition: 0.1s;
}